/*bottom buttons*/
.h5peditor .ui-dialog .h5p-joubelui-button, .h5peditor .h5p-joubelui-button, .h$
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0.5em 1em;
    padding: 0.5em 1.25em;
    /* border-radius: 1em; */
    background: #0A2D4A !important;
    color: #ffffff;
    cursor: pointer;
    border: none;
    box-shadow: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: inline-block;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    vertical-align: baseline;
}
/*you got some points*/
.h5p-question-feedback {
    font-weight: bold;
    color: #0a2d50 !important;
    margin: 0 1em;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.15s ease,margin 0.15s ease,opacity 0.15s cubic-bezier(0,1,0,1);
   opacity: 0;
    transition: max-height 0.15s ease,margin 0.15s ease,opacity 0.15s cubic-bezier(0,1,0,1);
}
/*statusbar*/
.h5p-joubelui-score-bar-progress {
    position: absolute;
    left: -2px;
    top: -2px;
    bottom: -2px;
    width: 0;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    background: #67912b !important;
}
/*scored*/
.h5p-joubelui-score-bar-full-score-star {
    background: #67912b !important;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-backface-visibility: hidden;
}
.h5p-mark-the-words .h5p-word-correct {
    background: #b3c894 !important;
    color: #67912a !important;
    background: #b3c894 !important;
    color: #67912a !important;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part-show {
        background-image: none !important;
        background: #555555;
}

.h5p-course-presentation .h5p-progressbar {
        background: #c1c1c1;
}
